
  .loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .error-message {
    color: red;
    font-size: 24px;
  }
  
  /* News Container */
  .news-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;

  }
  .news-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    margin-left: 60px;
    
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .news-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .news-title {
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  
  .header-line {
    margin: 10px auto;
    width: 50%;
    height: 2px;
    background-color: black;
    border: none;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .no-articles {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  