/* Dashboard.css */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

main.content {
  overflow-y: auto;
  width: 100%;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-right: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-text {
  flex-grow: 1;
}

.header-title {
  color: #1a237e;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.header-subtitle {
  color: #3949ab;
  font-size: 1rem;
  margin: 0;
}

.header-set-budget {
  margin-left: auto;
}

.set-budget-button {
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.set-budget-button:hover {
  background-color: #1a237e;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .header-title {
    font-size: 1.5rem;
  }
  
  .header-subtitle {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 992px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-set-budget {
    margin-left: 0;
    margin-top: 10px;
  }

  .header-title {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 1.2rem;
  }
  
  .header-subtitle {
    font-size: 0.8rem;
  }

  .header-set-budget {
    width: 100%;
  }

  .header-container {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 1rem;
  }
  
  .header-subtitle {
    font-size: 0.7rem;
  }

  .header-set-budget {
    width: 100%;
  }

  .header-container {
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
