@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* about */
.about-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    background-color: #1679AB;
    color: #fff;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.about-text {
    max-width: 800px;
    margin-left: 0; /* Align to the left end */
    padding: 0 20px;
}

.about-text h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left; /* Align heading to the left */
    padding-left: 20px;
}

.about-container p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left; /* Align text to the left */
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
    color: #ffffffab;
    line-height: 1.6;
    padding: 20px;
}

.about-btn {
    display: inline-block;
    padding: 13px 40px;
    background: #ccc;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}

.about-btn:hover {
    transform: translate(5px);
}

@media (max-width: 768px) {
    .about-container {
        padding: 50px 20px;
    }

    .about-text {
        padding: 0;
    }

    .about-text h1 {
        font-size: 32px;
    }

    .about-container p {
        font-size: 1rem;
    }
}

/* Footer.css */
.footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(22,121,171,1) 52%, rgba(4,4,18,1) 76%, rgba(5,5,21,1) 87%, rgba(8,8,35,1) 100%);
   
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    color: #ccc;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
   display: flex;
    justify-content:center;
   
    flex-direction: row;
}
.contact .content{
    max-width: 500px;
    text-align: center;
    padding: 50px 100px;
    text-align: center;
}
.content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.content p{
    font-weight: 300;
    color: #fff;
    text-align: center;
}
/* .contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-box{
    position: relative;
    padding: 20px 0;
}
.contact-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-text h3{
    font-weight: 500;
    color: #00bcd4;
} */
.contact-form{
    width: 30%;
    padding: 40px;
    background-color: white;
   height: 350px;
   align-self: center;
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
 input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
/* @media (max-width: 768px){
    .contact{
        flex-direction: column;
        align-items: center;
    }
} */

@media (max-width: 1024px) {
    .contact {
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
    }

    .contact .content {
        padding: 20px;
    }

    .contact-form {
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 50px 10px;
    }

    .contact .content {
        padding: 10px;
    }

    .contact-form {
        width: 90%;
        padding: 20px;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 14px;
    }

    .contact-form h2 {
        font-size: 24px;
    }
}
/* services */
.ser{
    background-color: #efefef;
    align-items: center;
   padding: 2%;
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #1679AB;
    padding-bottom: 50px;
    margin-top: 0;
}
.ser-content{
    color: #444;
    text-align: center;
    letter-spacing: 1px;
    margin-top: -55px;
    padding: 20px;
    width: 50%;
}
.header_underline {
    height: 3px;
    width: 100px;
    margin: 1rem auto;
    background-color: #ff6b6b;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.card{
    width: 200px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    
}
.card img{
    height: 80px;
}
.card h3{
    color: #1679AB;
    padding: 10px 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card p{
    color: #acacac;
    font-size: 13px;
    text-align: justify;
}
.btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    color: white;
    font-size: 17px;
    background-color: #1679AB;
    padding: 8px 15px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}
.btn :hover{
    letter-spacing: 1px;
}
.wrapper :hover{
    transform: scale(1.04);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
@media (max-width: 770px){
    .wrapper{
        flex-direction: column;
    }
}

.faq{
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efefef;
}
.faq-head{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #1679AB;
    padding-bottom: 50px;
    margin-top: 0;
}
.sub-head{
    color: #444;
    text-align: center;
    letter-spacing: 1px;
    margin-top: -55px;
   padding: 20px;
}
.faq_underline {
    height: 3px;
    width: 100px;
    margin: 1rem auto;
    background-color: #ff6b6b;
}