.form-styled {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    gap: 1rem;
    
}

.form-container h2{
    color: black;
    font-size: 20px;
    margin-top: 40px;

}

.text-field {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    align-items: center; /* Vertically center the label and input */
    margin-bottom: 0.5rem;
}

.text-field-label {
    color: black;
    margin-right: 1rem; /* Add some space between the label and input */
    font-weight: bold;
    min-width: 120px; /* Ensure labels have a minimum width */
    text-align: right; /* Align text to the right for better spacing */
}

.text-field-input {

    flex: 1; /* Allow the input to take up remaining space */
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-control {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    align-items: center; /* Vertically center the label and input */
    margin-bottom: 1rem;
}

/* .expense-submit-button {
    margin-top: 30px;
    background-color:rgba(11, 11, 69, 0.912);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-button:hover {
    background-color: rgba(11, 11, 69, 0.912);
} */
.expense-submit-button {
    
    margin-top: 20px;
    background-color: rgb(17, 26, 84) ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 50pc;
    width: 50%;
}

.expense-submit-button:hover {
    background-color: rgb(59, 63, 90);
}
