.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-form-container {
  flex: 1;
  padding: 50px;
  margin: 0px;
  align-content: center;
  position: relative;
}

.login-form-box {
  justify-content: center;
  align-items: inherit;
}

h1 {
  font-size: 40px;
}

.heading {
  font-size: 15px;
}

.heading1,
h3 {
  font-size: 35px;
  color: black;
  justify-content: end;
}

.login-image-container {
  flex: 2;
  height: 100vh;
}

.image {
  max-width: 90%;
  height: 100vh;
}

input {
  display: grid;
  margin-bottom: 1px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
}

.email,
.password {
  background-color: #E8F0FE;
  width: 70%;
  border-radius: 8px;
  padding: 14px;
  border: none;
  outline: none;
}

.display-name {
  background-color: #E8F0FE;
  width: 70%;
  border-radius: 8px;
  padding: 14px;
  border: none;
  outline: none;
}

.btn-login {
  padding: 7px;
}

.login-btn {
  background-color: #002147;
  width: 75%;
  margin-right: 20px;
  padding: 14px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 15px;
  color: white;
}

.g-btn {
  border: 1px solid;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
  width: 70% !important;
  margin: 10px;
}

.google-button {
  margin-top: 10px;
  margin-left: 50px;
}

.g-btn > div,
.g-btn > div > svg {
  height: 30px !important;
}

.signup-link {
  margin-left: 60px;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  font-weight: 500;
  margin: 10px 0;
}

.signUpText > Link {
  text-decoration: none;
  color: var(--twitter-color) !important;
}

/* Hide the image and make form container full width on smaller screens */
@media screen and (max-width: 688px) {
  .login-container {
    flex-direction: column;
    font-size: 20px;
  }

  .login-form-container {
    padding: 20px;
    flex: 1;
    width: 100%;
  }

  .login-image-container {
    display: none;
  }
}
.homepage-btn {
  position: absolute; /* Add this line */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: #002147;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.homepage-btn:hover {
  background-color: #0d0774;
}

