.set-budget-container {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;

  
  
}
  .set-budget-container h4{
    color: black;
 
  }
  
  
  .budget-input {
    width: 140px;
    padding: 8px;
    font-size: 0.8rem;
    border:1px solid #1565c0 ;
    border-radius: 4px;
    color: black;
  }
  
  .set-budget-button {
    background-color: #002147;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .set-budget-button:hover {
    background-color: #1f09c2fa;
  }
  .budget-status-container {
    margin: 20px;
  }
  
  .budget-status-container > h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:black;
  }
  
  .budget-status-details p {
    margin-bottom: 10px;
    color: white;
  }
  
  .total-budget {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .current-spending {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .budget-status {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .budget-status.exceeded {
    color: red;
  }
  
  .budget-status.within {
    color:darkgreen;
    font-weight: 900;
   
  }
  