/* General Styles */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .rewards-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rewards-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .rewards-title {
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  
  .header-line {
    margin: 10px auto;
    width: 50%;
    height: 2px;
    background-color: black;
    border: none;
  }
  
  .rewards-subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #1679AB;
  }
  
  /* Grid Styles */
  .rewards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Referral Section */
  .referral-section {
    margin-top: 40px;
    text-align: center;
  }
  
  .referral-title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
  }
  
  .referral-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .referral-info {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
  }
  
  .referral-code-container {
    display: flex;
    align-items: center;
  }
  
  .referral-code-input {
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .copy-button {
    background-color: rgba(11, 11, 69, 0.912);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .copy-button:hover {
    background-color: #024d5a;
  }
  