.background-image {
    height: 100vh; /* Full viewport height */
    background-image: url('C:\Users\Ujjwal Dwivedi\Financial_literacy\frontend\src\assets\background9.jpeg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
     /* Adjust opacity value (0 to 1) */
  }
  
  .income-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    color: white; /* Text color for better visibility */
  }
  
  .form-container {
     /* Semi-transparent background for form container */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
  }
  