
  
  .container {
    width: 500px;
    margin: auto;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 50px ;
  }

  .container h1 {
    color: #1679AB;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    align-self: center;
  }
  .container h2 {
    font-size: 18px;
    font-weight: 500;
    color: black;
    align-self: center;
  }
  .container ul{
    position: relative;
    right: 17px;
  }
  .container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    color: black;
  }
  
  .container button {
    margin: auto;
    width: 200px;
    height: 50px;
    background: #1679AB;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .container .index {
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .container .correct {
    background: #dffff2;
    border-color: #00d397;
  }
  
  .container .wrong {
    background: #e1b2b2;
    border-color: #ef0e0e;
  }
  