/* Advisorbox Styles */
.advisorbox-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #ffffff 0%, #9aa8eb 100%);
  }
  
  .advisorbox-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .advisorbox-content {
    text-align: center;
    z-index: 1;
    position: relative;
  }
  
  .advisor-image {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .advisor-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .advisorbox-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  
  .star-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .advisor-ratings {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .advisor-ratings span {
    margin-left: 5px;
  }
  
  .advisor-price {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .connect-button {
    padding: 10px 20px;
    background-color: rgba(11, 11, 69, 0.912);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .connect-button:hover {
    background-color: #024d5a;
  }
  